<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='chatbox_signup.css')}}" />
  <title>Sign up</title>
</head>

<body>
  <form method="post" action="signup">
    <script>
      function toggle() {
        var elements = document.getElementsByClassName("ppp");
        for (var i = 0; i < elements.length; i++) {
          elements[i].type = elements[i].type === "password" ? "text" : "password";
        }
      }
    </script>
    <div class="frame">
      <h1>Sign up</h1>
      <p class="error">{{error}}</p>
      <p><input type="text" name="username" placeholder="Create your username" /></p>

      <p><input type="email" name="email" placeholder="E-mail" /></p>

      <p>
        <input type="password" name="password" placeholder="Password" class="ppp" />
      </p>

      <p>
        <input type="password" name="password_confirm" placeholder="Confirm password" class="ppp" />
      </p>
      <p>
        <input type="checkbox" name="show_password" value="Show password" onclick="toggle()" /> Show
        password
      </p>
      <p><input type="submit" name="create_account" value="Create account" /></p>
    </div>
  </form>
</body>

</html>