<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='mainblog.css')}}" />
    <title>User Page</title>
  </head>
  <body>
    <nav>
      <h1>
        <img src="{{url_for('static', filename='chatbox_icon.png')}}" /> chatbox
        &nbsp&nbsp&nbsp&nbsp<a href="">Main Blog</a> <a href="">Friends</a>
        <a href=""> Friend requests</a>
      </h1>
    </nav>
    <div class="blogel1">
      <textarea name="blog1" placeholder="Tell your thoughts..."></textarea>
    </div>
  </body>
</html>
