<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='mainblog.css')}}" />
    <title>User Page</title>
  </head>
  <body>
    <nav>
      <h1>
        {# <img src="{{url_for('static', filename='chatbox_icon.png')}}" /> #} chatbox
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<a href="{{url_for('mainblog')}}"
          >Main Blog</a
        >&nbsp&nbsp <a href="{{url_for('friends_page')}}">Friends</a>&nbsp&nbsp
        <a href="{{url_for('friends_page')}}"> Friend requests</a>
      </h1>
    </nav>
    <form method="post" action="main_blog">
      <div class="blogel1">
        <textarea name="blog1" placeholder="Tell your thoughts..."></textarea>
      </div>
      <br />
      <input type="file" name="file1" />
      <br />
      <br />
      <input type="submit" name="submit2" value="Post" />
    </form>
    <div class="blogel2">
      {%if request.form.get("blog1")%}
      <p>{{request.form.get("blog1")}}</p>
      <br />
      {%endif%} {%if request.form.file1%}
      <p><img src="{{request.form.get('file1')}}" /></p>
      {%endif%}
    </div>
  </body>
</html>
