<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel="stylesheet" href="{{url_for('static', filename='chatbox_signup.css')}}" />
  </head>

  <body>
    <form method="post" action="program">
      <script>
        function toggle() {
          var elements = document.getElementsByClassName("ppp");
          for (var i = 0; i < elements.length; i++) {
            elements[i].type = elements[i].type === "password" ? "text" : "password";
          }
        }
      </script>
      <h1>Sign in</h1>

      <p><input type="text" name="email2" placeholder="E-mail or username" /></p>

      <p><input type="password" name="password2" placeholder="Password" class="ppp" /></p>

      <p>
        <input type="checkbox" name="showpassword2" value="Show password" onclick="toggle()" /> Show
        password
      </p>
      <p><input type="submit" name="Sign_in1" value="Sign in" /></p>
      {%if submit%} {{url_for('main_page')}} {%endif%}
    </form>
  </body>
</html>
