<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='mainblog.css')}}" />
    <title>User Page</title>
  </head>
  <body>
    <nav>
      <h1>
        <img src="{{url_for('static', filename='chatbox_icon.png')}}" /> chatbox
        &nbsp&nbsp&nbsp&nbsp<a href="{{url_for('mainblog')}}">Main Blog</a> <a href="">Friends</a>
        <a href=""> Friend requests</a>
      </h1>
    </nav>
    <div class="blogel1">
    <form method="post" action="mainblog">
      <textarea name="blog1" placeholder="Tell your thoughts..."></textarea>
    </div>
    <br />
    <input type="file" name="file1" />
    <br />
    <br />
    <input type="submit" name="submit2" value="Post" />
    </form>
    {%if get_post_blog%}
    <p>{{user_post_file}}</p>
    <p>{{user_post_text}}</p>
    {%endif%}
  </body>
</html>
